<div class="tab-pane" id="accountinfo">
    <div class="row mg-t-20">
        <div class="col-md-12 col-xl-12 col-xs-12 col-sm-12">
            <div class="card card-primary">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5 col-xl-5 col-xs-5 col-sm-5">
                            <div class="main-content-label mg-b-5 tx-14">
                                ข้อมูลพนักงานขายและการขายทั่วไป
                            </div>

                            <div class="row row-sm mg-t-20">
                                <div class="col-lg">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">พนักงาน</label>
                                    <input class="form-control form-control-sm" placeholder="พนักงาน" type="text" id="emmas_euserid" style="margin-top: -3px;">
                                </div>
                                <div class="col-lg mg-t-10 mg-lg-t-0">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">เลขประจำตัวผู้เสียภาษี</label>
                                    <input class="form-control form-control-sm" placeholder="เลขประจำตัวผู้เสียภาษี" type="text" id="emmas_taxid" style="margin-top: -3px;">
                                </div>
                            </div>

                            <div class="row row-sm mg-t-15">
                                <div class="col-lg">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">ประเภทธุรกิจ</label>
                                    <input class="form-control form-control-sm" placeholder="ประเภทธุรกิจ" type="text" id="emmas_egroupk" style="margin-top: -3px;">
                                </div>
                                <div class="col-lg mg-t-10 mg-lg-t-0">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">ประเภทลูกค้า</label>
                                    <input class="form-control form-control-sm" placeholder="ประเภทลูกค้า" type="text" id="emmas_ekcust" style="margin-top: -3px;">
                                </div>
                            </div>

                            <div class="row row-sm mg-t-15">
                                <div class="col-lg">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">การวางบิล</label>
                                    <input class="form-control form-control-sm" placeholder="การวางบิล" type="text" id="emmas_ekbill" style="margin-top: -3px;">
                                </div>
                                <div class="col-lg mg-t-10 mg-lg-t-0">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">รับเช็ค</label>
                                    <input class="form-control form-control-sm" placeholder="รับเช็ค" type="text" id="emmas_ekcheck" style="margin-top: -3px;">
                                </div>
                            </div>

                            <div class="row row-sm mg-t-15">
                                <div class="col-lg mg-t-10 mg-lg-t-0">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">ตัดจาก</label>
                                    <input class="form-control form-control-sm" placeholder="ตัดจาก" type="text" id="emmas_ecrcut" style="margin-top: -3px;">
                                </div>
                                <div class="col-lg mg-t-10 mg-lg-t-0">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">ประเภท</label>
                                    <input class="form-control form-control-sm" placeholder="ประเภท" type="text" id="emmas_egroupkE" style="margin-top: -3px;">
                                </div>
                            </div>
                        </div>


                        <div class="col-md-7 col-xl-7 col-xs-7 col-sm-7">
                            <div class="main-content-label mg-b-5 tx-14">
                                &nbsp;
                            </div>

                            <!--<div class="row row-sm mg-t-20">-->
                                @*<div class="col-lg">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">VAT</label>
                                    <input class="form-control form-control-sm" placeholder="VAT" type="text" id="" style="margin-top: -3px;">
                                </div>
                                <div class="col-lg mg-t-10 mg-lg-t-0">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Credit rating</label>
                                    <input class="form-control form-control-sm" placeholder="Credit rating" type="text" id="" style="margin-top: -3px;">
                                </div>
                                <div class="col-lg mg-t-10 mg-lg-t-0">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">เครดิต</label>
                                    <input class="form-control form-control-sm" placeholder="เครดิต" type="text" id="" style="margin-top: -3px;">
                                </div>*@
                            <!--</div>-->

                            <div class="row row-sm mg-t-20">
                                <div class="col-lg">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Method of payment</label>
                                    <input class="form-control form-control-sm" placeholder="Method of payment" type="text" id="customer_ax_methodofpayment" style="margin-top: -3px;">
                                </div>
                                <div class="col-lg mg-t-10 mg-lg-t-0">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Payment priority</label>
                                    <input class="form-control form-control-sm" placeholder="Payment priority" type="text" id="customer_ax_paymentpriority" style="margin-top: -3px;">
                                </div>
                                <div class="col-lg mg-t-10 mg-lg-t-0">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Installment eligible</label>
                                    <input class="form-control form-control-sm" placeholder="Installment eligible" type="text" id="customer_ax_installmenteligible" style="margin-top: -3px;">
                                </div>
                            </div>

                            <div class="row row-sm mg-t-15">
                                <div class="col-lg">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Sales tax group</label>
                                    <input class="form-control form-control-sm" placeholder="Sales tax group" type="text" id="customer_ax_salestaxgroup" style="margin-top: -3px;">
                                </div>
                                <div class="col-lg mg-t-10 mg-lg-t-0">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">&nbsp;</label>
                                    @*<input class="form-control form-control-sm" placeholder="One-time customer" type="text" id="" style="margin-top: -3px;">*@
                                    <label class="ckbox"><input type="checkbox" id="customer_ax_onetimecustomer"><span class="tx-14 tx-medium tx-gray-700">One-time customer</span></label>
                                </div>
                                <div class="col-lg mg-t-10 mg-lg-t-0">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">&nbsp;</label>
                                    <label class="ckbox"><input type="checkbox" id="emmas_efreeze"><span class="tx-14 tx-medium tx-gray-700">ห้ามขายทุกกรณี</span></label>
                                </div>
                            </div>

                            <div class="row row-sm mg-t-15">
                                <div class="col-lg mg-t-10 mg-lg-t-0">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Branch</label>
                                    <input class="form-control form-control-sm" placeholder="Branch" type="text" id="customer_ax_branch" style="margin-top: -3px;">
                                </div>

                                <div class="col-lg mg-t-10 mg-lg-t-0">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Department</label>
                                    <input class="form-control form-control-sm" placeholder="Department" type="text" id="customer_ax_department" style="margin-top: -3px;">
                                </div>

                                <div class="col-lg mg-t-10 mg-lg-t-0">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Project</label>
                                    <input class="form-control form-control-sm" placeholder="Project" type="text" id="customer_ax_project" style="margin-top: -3px;">
                                </div>
                            </div>

                            <div class="row row-sm mg-t-15">
                                <div class="col-lg mg-t-10 mg-lg-t-0">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Sales team</label>
                                    <input class="form-control form-control-sm" placeholder="Sale team" type="text" id="customer_ax_salesteam" style="margin-top: -3px;">
                                </div>

                                <div class="col-lg mg-t-10 mg-lg-t-0">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Tax Branch</label>
                                    <input class="form-control form-control-sm" placeholder="Tax Branch" type="text" id="customer_ax_taxbranch" style="margin-top: -3px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row mg-t-20">
        <div class="col-md-12 col-xl-12 col-xs-12 col-sm-12">
            <div class="card card-primary">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-xl-6 col-xs-6 col-sm-6">
                            <div class="main-content-label mg-b-5 tx-14">
                                ข้อมูลด้านการเงิน
                            </div>
                            <div class="row row-sm mg-t-20">
                                <div class="col-lg">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">วงเงินเครดิต</label>
                                    <input class="form-control form-control-sm" placeholder="วงเงินเครดิต" type="text" id="emmas_ecredit" style="margin-top: -3px;">
                                </div>
                                <div class="col-lg mg-t-10 mg-lg-t-0">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">วงเงินชั่วคราว</label>
                                    <input class="form-control form-control-sm" placeholder="วงเงินชั่วคราว" type="text" id="emmas_ecredit2" style="margin-top: -3px;">
                                </div>
                            </div>
                            <div class="row row-sm mg-t-15">
                                <div class="col-lg">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">ยอดค้างชำระ</label>
                                    <input class="form-control form-control-sm" placeholder="ยอดค้างชำระ" type="text" id="emmas_eamount" style="margin-top: -3px;">
                                </div>
                                <div class="col-lg mg-t-10 mg-lg-t-0">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">ยอดค้างชำระ VAT</label>
                                    <input class="form-control form-control-sm" placeholder="ยอดค้างชำระ VAT" type="text" id="emmas_eamountvat" style="margin-top: -3px;">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xl-6 col-xs-6 col-sm-6">
                            <div class="main-content-label mg-b-5 tx-14">
                                &nbsp;
                            </div>
                            <div class="row row-sm mg-t-20">
                                <div class="col-lg">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">VAT</label>
                                    <input class="form-control form-control-sm" placeholder="VAT" type="text" id="emmas_evat" style="margin-top: -3px;">
                                </div>
                                <div class="col-lg mg-t-10 mg-lg-t-0">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Credit rating</label>
                                    <input class="form-control form-control-sm" placeholder="Credit rating" type="text" id="customer_ax_creditrating" style="margin-top: -3px;">
                                </div>
                                <div class="col-lg mg-t-10 mg-lg-t-0">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">เครดิต (วัน)</label>
                                    <input class="form-control form-control-sm" placeholder="เครดิต" type="text" id="emmas_edue" style="margin-top: -3px;">
                                </div>
                            </div>
                            <div class="row row-sm mg-t-15">
                                <div class="col-lg">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Account statement</label>
                                    <input class="form-control form-control-sm" placeholder="Account statement" type="text" id="customer_ax_accountstatement" style="margin-top: -3px;">
                                </div>
                                <div class="col-lg">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Mandatory credit limit</label>
                                    <input class="form-control form-control-sm" placeholder="Mandatory credit limit" type="text" id="customer_ax_mandatorycreditlimit" style="margin-top: -3px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="col-md-6 col-xl-6 col-xs-6 col-sm-6">
            <div class="card card-primary">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 col-xl-12 col-xs-12 col-sm-12">
                            <div class="main-content-label mg-b-5 tx-14">
                                ข้อมูลติดต่อ
                            </div>
                            <div class="row row-sm mg-t-20">
                                <div class="col-lg">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Contact number/address</label>
                                    <input class="form-control form-control-sm" placeholder="Contact number/address" type="text" id="" style="margin-top: -3px;">
                                </div>
                                 <div class="col-lg mg-t-10 mg-lg-t-0">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Extension</label>
                                    <input class="form-control form-control-sm" placeholder="Extension" type="text" id="" style="margin-top: -3px;">
                                 </div>
                            </div>
                            <div class="row row-sm mg-t-15">
                                 <div class="col-lg">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Purpose</label>
                                    <input class="form-control form-control-sm" placeholder="Purpose" type="text" id="" style="margin-top: -3px;">
                                 </div>
                            </div>
                            <div class="row row-sm mg-t-15">
                                <div class="col-lg">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Description</label>
                                    <input class="form-control form-control-sm" placeholder="Description" type="text" id="" style="margin-top: -3px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</div>