<div class="tab-pane active" id="customerinfo">
    <div class="row mg-t-5">
        <div class="col-md-12 col-xl-12 col-xs-12 col-sm-12">
            <div class="card card-primary">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-xl-6 col-xs-6 col-sm-6">
                            <div class="main-content-label mg-b-5 tx-14">
                                ข้อมูลลูกค้า
                            </div>

                            <div class="row row-sm mg-t-20">
                                <div class="col-lg">
                                    <label class="main-content-label tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">รหัสลูกค้า</label>
                                    <input class="form-control form-control-sm" placeholder="รหัสลูกค้า" type="text" id="emmas_code" style="margin-top: -3px;" value="R000009" disabled>
                                </div>
                                <div class="col-lg">
                                    <label class="main-content-label tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Rank</label>
                                    <input class="form-control form-control-sm" placeholder="โทรศัพท์" type="text" id="emmas_etel" style="margin-top: -3px;" value="B" disabled>
                                </div>
                            </div>

                            <div class="row row-sm mg-t-15">
                                <div class="col-lg">
                                    <label class="main-content-label tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">ชื่อลูกค้า</label>
                                    <input class="form-control form-control-sm" placeholder="ชื่อลูกค้า" type="text" id="emmas_lname" style="margin-top: -3px;" value="หจก.103 ออโตไทร์" disabled>
                                </div>
                            </div>

                            <div class="row row-sm mg-t-15">
                                <div class="col-lg">
                                    <label class="main-content-label tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">โทรศัพท์</label>
                                    <input class="form-control form-control-sm" placeholder="โทรศัพท์" type="text" id="emmas_etel" style="margin-top: -3px;" value="027482515" disabled>
                                </div>
                                <div class="col-lg mg-t-10 mg-lg-t-0">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">แฟกซ์</label>
                                    <input class="form-control form-control-sm" placeholder="แฟกซ์" type="text" id="emmas_efax" style="margin-top: -3px;" value="027481389" disabled>
                                </div>
                            </div>

                            <!--<div class="row row-sm mg-t-20">
    <div class="col-lg">
        <label class="main-content-label tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">รหัสลูกค้า</label>
        <input class="form-control form-control-sm" placeholder="รหัสลูกค้า" type="text" id="emmas_code" style="margin-top: -3px;" value="R000009" disabled>
    </div>
    <div class="col-lg mg-t-10 mg-lg-t-0">
        <label class="main-content-label tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">สาขาที่</label>-->
                            @*<input class="form-control form-control-sm" placeholder="สาขาที่" type="text" id="emmas_ebranch" style="margin-top: -3px;" disabled>*@
                            <!--<input class="form-control form-control-sm" placeholder="" type="text" id="emmas_ebranch" style="margin-top: -3px;" disabled>
    </div>
    <div class="col-lg mg-t-10 mg-lg-t-0">
        <label class="main-content-label tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">วันที่เปิดหัวลูกค้า</label>
        <input class="form-control form-control-sm" placeholder="" type="text" id="emmas_ebgservice" style="margin-top: -3px;" disabled>-->
                            @*<input class="form-control form-control-sm" placeholder="วันที่เปิดหัวลูกค้า" type="text" id="emmas_ebgservice" style="margin-top: -3px;" disabled>*@
                            <!--</div>
    </div>
    <div class="row row-sm mg-t-15">
        <div class="col-lg">
            <label class="main-content-label tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">ชื่อลูกค้า</label>
            <input class="form-control form-control-sm" placeholder="ชื่อลูกค้า" type="text" id="emmas_lname" style="margin-top: -3px;" value="หจก.103 ออโตไทร์" disabled>
        </div>
    </div>
    <div class="row row-sm mg-t-15">
        <div class="col-lg">
            <label class="main-content-label tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">อักษรย่อ</label>
            <input class="form-control form-control-sm" placeholder="" type="text" id="emmas_ecodechr" style="margin-top: -3px;" disabled>-->
                            @*<input class="form-control form-control-sm" placeholder="อักษรย่อ" type="text" id="emmas_ecodechr" style="margin-top: -3px;" disabled>*@
                            <!--</div>
    <div class="col-lg mg-t-10 mg-lg-t-0">
        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Search name</label>
        <input class="form-control form-control-sm" placeholder="" type="text" id="" style="margin-top: -3px;" disabled>-->
                            @*<input class="form-control form-control-sm" placeholder="search name" type="text" id="" style="margin-top: -3px;" disabled>*@
                            <!--</div>
    </div>
    <div class="row row-sm mg-t-15">
        <div class="col-lg">
            <label class="main-content-label tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">โทรศัพท์</label>
            <input class="form-control form-control-sm" placeholder="โทรศัพท์" type="text" id="emmas_etel" style="margin-top: -3px;" value="027482515" disabled>
        </div>
    </div>
    <div class="row row-sm mg-t-15">
        <div class="col-lg">
            <label class="main-content-label tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">ผู้ติดต่อ</label>
            <input class="form-control form-control-sm" placeholder="" type="text" id="emmas_etran" style="margin-top: -3px;" disabled>-->
                            @*<input class="form-control form-control-sm" placeholder="ผู้ติดต่อ" type="text" id="emmas_etran" style="margin-top: -3px;" disabled>*@
                            <!--</div>
        <div class="col-lg mg-t-10 mg-lg-t-0">
            <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">แฟกซ์</label>
            <input class="form-control form-control-sm" placeholder="แฟกซ์" type="text" id="emmas_efax" style="margin-top: -3px;" value="027481389" disabled>
        </div>
    </div>-->
                        </div>
                        <div class="col-md-6 col-xl-6 col-xs-6 col-sm-6">
                            <div class="main-content-label mg-b-5 tx-14">
                                ที่อยู่ลูกค้าหรือบริษัท
                            </div>
                            <div class="row row-sm mg-t-20">
                                <div class="col-lg">
                                    <label class="main-content-label tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">ที่อยู่บริษัท</label>
                                    <input class="form-control form-control-sm" placeholder="ที่อยู่บริษัท" type="text" id="emmas_eaddress" style="margin-top: -3px;" value="394,396,398 ถนนศรีนครินทร์" disabled>
                                </div>
                            </div>
                            <div class="row row-sm mg-t-15">
                                <div class="col-lg">
                                    <label class="main-content-label tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">แขวง/ตำบล</label>
                                    <input class="form-control form-control-sm" placeholder="แขวง/ตำบล" type="text" id="emmas_etumbol" style="margin-top: -3px;" value="แขวงหนองบอน" disabled>
                                </div>
                                <div class="col-lg mg-t-10 mg-lg-t-0">
                                    <label class="main-content-label tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">เขต/อำเภอ</label>
                                    <input class="form-control form-control-sm" placeholder="เขต/อำเภอ" type="text" id="emmas_eamphur" style="margin-top: -3px;" value="เขตประเวศ" disabled>
                                </div>
                            </div>
                            <div class="row row-sm mg-t-15">
                                <div class="col-lg">
                                    <label class="main-content-label tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">จังหวัด</label>
                                    <input class="form-control form-control-sm" placeholder="จังหวัด" type="text" id="emmas_eprovinc" style="margin-top: -3px;" value="กรุงเทพมหานคร" disabled>
                                </div>
                                <div class="col-lg mg-t-10 mg-lg-t-0">
                                    <label class="main-content-label tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">รหัสไปรษณีย์</label>
                                    <input class="form-control form-control-sm" placeholder="รหัสไปรษณีย์" type="text" id="emmas_ezip" style="margin-top: -3px;" value="10250" disabled>
                                </div>
                            </div>
                            <!--<div class="main-content-label mg-b-5 tx-14">
        ข้อมูลลูกค้า (นิติบุคคล)
    </div>
    <div class="row row-sm mg-t-20">
        <div class="col-lg">
            <label class="main-content-label tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">วันที่จดทะเบียนบริษัท</label>
            <input class="form-control form-control-sm" placeholder="" type="text" id="emmas_eregdate" style="margin-top: -3px;" disabled>-->
                            @*<input class="form-control form-control-sm" placeholder="วันที่จดทะเบียนบริษัท" type="text" id="emmas_eregdate" style="margin-top: -3px;" disabled>*@
                            <!--</div>
    <div class="col-lg mg-t-10 mg-lg-t-0">
        <label class="main-content-label tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">ทุนจดทะเบียน</label>
        <input class="form-control form-control-sm" placeholder="" type="text" id="emmas_eOwn3" style="margin-top: -3px;" disabled>-->
                            @*<input class="form-control form-control-sm" placeholder="ทุนจดทะเบียน" type="text" id="emmas_eOwn3" style="margin-top: -3px;" disabled>*@
                            <!--</div>
    </div>
    <div class="row row-sm mg-t-15">
        <div class="col-lg">
            <label class="main-content-label tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">ผู้มีอํานาจลงนาม</label>
            <input class="form-control form-control-sm" placeholder="" type="text" id="emmas_eOwn0" style="margin-top: -3px;" disabled>-->
                            @*<input class="form-control form-control-sm" placeholder="ผู้มีอํานาจลงนาม" type="text" id="emmas_eOwn0" style="margin-top: -3px;" disabled>*@
                            <!--</div>
    <div class="col-lg mg-t-10 mg-lg-t-0">
        <label class="main-content-label tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">หมายเลขบัตรประชาชนเจ้าของกิจการ</label>
        <input class="form-control form-control-sm" placeholder="" type="text" id="customer_master_idcardnumber" style="margin-top: -3px;" disabled>-->
                            @*<input class="form-control form-control-sm" placeholder="หมายเลขบัตรประชาชนเจ้าของกิจการ" type="text" id="customer_master_idcardnumber" style="margin-top: -3px;" disabled>*@
                            <!--</div>
    </div>
    <div class="main-content-label mg-b-5 mg-t-25 tx-14">
        ข้อมูลอื่นๆ
    </div>
    <div class="row row-sm mg-t-15">
        <div class="col-lg">
            <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Address book type</label>
            <input class="form-control form-control-sm" placeholder="" type="text" id="" style="margin-top: -3px;" disabled>-->
                            @*<input class="form-control form-control-sm" placeholder="Address book type" type="text" id="" style="margin-top: -3px;" disabled>*@
                            <!--</div>
    <div class="col-lg mg-t-10 mg-lg-t-0">
        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Classification group</label>
        <input class="form-control form-control-sm" placeholder="" type="text" id="" style="margin-top: -3px;" disabled>-->
                            @*<input class="form-control form-control-sm" placeholder="Classification group" type="text" id="" style="margin-top: -3px;" disabled>*@
                            <!--</div>
    <div class="col-lg mg-t-10 mg-lg-t-0">
        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Customer groups</label>
        <input class="form-control form-control-sm" placeholder="" type="text" id="" style="margin-top: -3px;" disabled>-->
                            @*<input class="form-control form-control-sm" placeholder="Customer groups" type="text" id="" style="margin-top: -3px;" disabled>*@
                            <!--</div>
    </div>
    <div class="row row-sm mg-t-15">
        <div class="col-lg">
            <label class="main-content-label tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">บันทึกข้อมูลลูกค้า</label>
            <textarea class="form-control form-control-sm" placeholder="" id="emmas_edescript" rows="4" style="margin-top: -3px;" disabled></textarea>-->
                            @*<textarea class="form-control form-control-sm" placeholder="บันทึกข้อมูลลูกค้า" id="emmas_edescript" rows="4" style="margin-top: -3px;" disabled></textarea>*@
                            <!--</div>
    </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--<div class="row mg-t-20">
        <div class="col-md-6 col-xl-6 col-xs-6 col-sm-6">
            <div class="card card-primary">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 col-xl-12 col-xs-12 col-sm-12">
                            <div class="main-content-label mg-b-5 tx-14">
                                ที่อยู่ลูกค้าหรือบริษัท
                            </div>
                            <div class="row row-sm mg-t-20">
                                <div class="col-lg">
                                    <label class="main-content-label tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">ที่อยู่บริษัท</label>
                                    <input class="form-control form-control-sm" placeholder="ที่อยู่บริษัท" type="text" id="emmas_eaddress" style="margin-top: -3px;" value="394,396,398 ถนนศรีนครินทร์" disabled>
                                </div>
                            </div>
                            <div class="row row-sm mg-t-15">
                                <div class="col-lg">
                                    <label class="main-content-label tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">แขวง/ตำบล</label>
                                    <input class="form-control form-control-sm" placeholder="แขวง/ตำบล" type="text" id="emmas_etumbol" style="margin-top: -3px;" value="แขวงหนองบอน" disabled>
                                </div>
                                <div class="col-lg mg-t-10 mg-lg-t-0">
                                    <label class="main-content-label tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">เขต/อำเภอ</label>
                                    <input class="form-control form-control-sm" placeholder="เขต/อำเภอ" type="text" id="emmas_eamphur" style="margin-top: -3px;" value="เขตประเวศ" disabled>
                                </div>
                            </div>
                            <div class="row row-sm mg-t-15">
                                <div class="col-lg">
                                    <label class="main-content-label tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">จังหวัด</label>
                                    <input class="form-control form-control-sm" placeholder="จังหวัด" type="text" id="emmas_eprovinc" style="margin-top: -3px;" value="กรุงเทพมหานคร" disabled>
                                </div>
                                <div class="col-lg mg-t-10 mg-lg-t-0">
                                    <label class="main-content-label tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">รหัสไปรษณีย์</label>
                                    <input class="form-control form-control-sm" placeholder="รหัสไปรษณีย์" type="text" id="emmas_ezip" style="margin-top: -3px;" value="10250" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-6 col-xs-6 col-sm-6">
            <div class="card card-primary">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 col-xl-12 col-xs-12 col-sm-12">
                            <div class="main-content-label mg-b-5 tx-14">
                                ที่อยู่ลูกค้าตามภูมิลำเนา
                            </div>
                            <div class="row row-sm mg-t-20">
                                <div class="col-lg">
                                    <label class="main-content-label tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">ที่อยู่ตามภูมิลำเนา</label>
                                    <input class="form-control form-control-sm" placeholder="" type="text" id="" style="margin-top: -3px;" disabled>-->
                                    @*<input class="form-control form-control-sm" placeholder="ที่อยู่บริษัท" type="text" id="" style="margin-top: -3px;" disabled>*@
                                <!--</div>
                            </div>
                            <div class="row row-sm mg-t-15">
                                <div class="col-lg">
                                    <label class="main-content-label tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">แขวง/ตำบล</label>
                                    <input class="form-control form-control-sm" placeholder="" type="text" id="" style="margin-top: -3px;" disabled>-->
                                    @*<input class="form-control form-control-sm" placeholder="แขวง/ตำบล" type="text" id="" style="margin-top: -3px;" disabled>*@
                                <!--</div>
                                <div class="col-lg mg-t-10 mg-lg-t-0">
                                    <label class="main-content-label tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">เขต/อำเภอ</label>
                                    <input class="form-control form-control-sm" placeholder="" type="text" id="" style="margin-top: -3px;" disabled>-->
                                    @*<input class="form-control form-control-sm" placeholder="เขต/อำเภอ" type="text" id="" style="margin-top: -3px;" disabled>*@
                                <!--</div>
                            </div>
                            <div class="row row-sm mg-t-15">
                                <div class="col-lg">
                                    <label class="main-content-label tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">จังหวัด</label>
                                    <input class="form-control form-control-sm" placeholder="" type="text" id="" style="margin-top: -3px;" disabled>-->
                                    @*<input class="form-control form-control-sm" placeholder="จังหวัด" type="text" id="" style="margin-top: -3px;" disabled>*@
                                <!--</div>
                                <div class="col-lg mg-t-10 mg-lg-t-0">
                                    <label class="main-content-label tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">รหัสไปรษณีย์</label>
                                    <input class="form-control form-control-sm" placeholder="" type="text" id="" style="margin-top: -3px;" disabled>-->
                                    @*<input class="form-control form-control-sm" placeholder="รหัสไปรษณีย์" type="text" id="" style="margin-top: -3px;" disabled>*@
                                <!--</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</div>
