<div class="tab-pane" id="saleinfo">
    <div class="row mg-t-5">
        <div class="col-md-12 col-xl-12 col-xs-12 col-sm-12">
            <div class="card card-primary">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 col-xl-12 col-xs-12 col-sm-12">
                            <div class="main-content-label mg-b-5 tx-14">
                                ข้อมูลพนักงานขายและการขายทั่วไป
                            </div>
                            <div class="row row-sm mg-t-20">
                                <div class="col-lg-3">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Sale Channel</label>
                                    <input class="form-control form-control-sm" placeholder="Sale Channel" readonly="" type="text" id="salegrch_salechannel" style="margin-top: -3px;" value="SaleB2B">
                                </div>
                                <div class="col-lg-3 mg-t-10 mg-lg-t-0">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Sale Group</label>
                                    <input class="form-control form-control-sm" placeholder="Sale Group" readonly="" type="text" id="salegrch_salegroup" style="margin-top: -3px;" value="SMG">
                                </div>
                                <div class="col-lg-3 mg-t-10 mg-lg-t-0">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Sale Executive</label>
                                    <input class="form-control form-control-sm" placeholder="Sale Executive" readonly="" type="text" id="" style="margin-top: -3px;" value="บอล">
                                </div>
                            </div>
                            <br />
                            <div class="main-content-label mg-b-5 tx-14 mg-t-20">
                                ข้อมูลเป้าการขาย
                            </div>
                            <div class="row row-sm mg-t-20">
                                <div class="col-lg-1">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">เป้าหมายปี</label>
                                </div>
                                <div class="col-lg-2">
                                    <select class="form-control form-control-sm select2">
                                        <option value="2021">2021</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row row-sm mg-t-20">
                                <div class="col-lg-2">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">มกราคม</label>
                                    <input class="form-control form-control-sm" placeholder="" type="text" id="saletarget_m01" style="margin-top: -3px;" value="80,000">
                                </div>

                                <div class="col-lg-2">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">กุมภาพันธ์</label>
                                    <input class="form-control form-control-sm" placeholder="" type="text" id="saletarget_m02" style="margin-top: -3px;" value="80,000">
                                </div>

                                <div class="col-lg-2">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">มีนาคม</label>
                                    <input class="form-control form-control-sm" placeholder="" type="text" id="saletarget_m02" style="margin-top: -3px;" value="80,000">
                                </div>

                                <div class="col-lg-2">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">เมษายน</label>
                                    <input class="form-control form-control-sm" placeholder="" type="text" id="saletarget_m02" style="margin-top: -3px;" value="80,000">
                                </div>

                                <div class="col-lg-2">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">พฤษภาคม</label>
                                    <input class="form-control form-control-sm" placeholder="" type="text" id="saletarget_m02" style="margin-top: -3px;" value="80,000">
                                </div>

                                <div class="col-lg-2">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">มิถุนายน</label>
                                    <input class="form-control form-control-sm" placeholder="" type="text" id="saletarget_m02" style="margin-top: -3px;" value="80,000">
                                </div>


                            </div>
                            <div class="row row-sm mg-t-15">
                                <div class="col-lg-2">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">กรกฎาคม</label>
                                    <input class="form-control form-control-sm" placeholder="" type="text" id="saletarget_m02" style="margin-top: -3px;" value="80,000">
                                </div>

                                <div class="col-lg-2">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">สิงหาคม</label>
                                    <input class="form-control form-control-sm" placeholder="" type="text" id="saletarget_m02" style="margin-top: -3px;" value="80,000">
                                </div>

                                <div class="col-lg-2">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">กันยายน</label>
                                    <input class="form-control form-control-sm" placeholder="" type="text" id="saletarget_m02" style="margin-top: -3px;" value="80,000">
                                </div>

                                <div class="col-lg-2">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">ตุลาคม</label>
                                    <input class="form-control form-control-sm" placeholder="" type="text" id="saletarget_m02" style="margin-top: -3px;" value="80,000">
                                </div>

                                <div class="col-lg-2">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">พฤศจิกายน</label>
                                    <input class="form-control form-control-sm" placeholder="" type="text" id="saletarget_m02" style="margin-top: -3px;" value="80,000">
                                </div>

                                <div class="col-lg-2">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">ธันวาคม</label>
                                    <input class="form-control form-control-sm" placeholder="" type="text" id="saletarget_m02" style="margin-top: -3px;" value="80,000">
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-md-6 col-xl-6 col-xs-6 col-sm-6">
                            <div class="main-content-label mg-b-5 tx-14">
                                ข้อมูลพนักงานขายและการขายทั่วไป
                            </div>
                            <div class="row row-sm mg-t-20">
                                <div class="col-lg">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Sale Channel</label>
                                    <input class="form-control form-control-sm" placeholder="Sale Channel" readonly="" type="text" id="salegrch_salechannel" style="margin-top: -3px;" value="SaleB2B">
                                </div>
                                <div class="col-lg mg-t-10 mg-lg-t-0">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Sale Group</label>
                                    <input class="form-control form-control-sm" placeholder="Sale Group" type="text" id="salegrch_salegroup" style="margin-top: -3px;" value="SMG">
                                </div>
                            </div>
                            <div class="row row-sm mg-t-15">
                                <div class="col-lg">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Sale Person</label>
                                    <input class="form-control form-control-sm" placeholder="-" type="text" id="salegrch_saleperson" style="margin-top: -3px;" disabled>-->
                        @*<input class="form-control form-control-sm" placeholder="Sale Person" type="text" id="salegrch_saleperson" style="margin-top: -3px;" disabled>*@
                        <!--</div>
                                <div class="col-lg mg-t-10 mg-lg-t-0">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Sale Executive</label>
                                    <input class="form-control form-control-sm" placeholder="Sale Executive" type="text" id="" style="margin-top: -3px;" value="บอล">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-6 col-xs-6 col-sm-6">
                            <div class="main-content-label mg-b-5 tx-14">
                                &nbsp;
                            </div>
                            <div class="row row-sm mg-t-20">
                                <div class="col-lg">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">กำหนดระดับราคาขาย</label>
                                    <input class="form-control form-control-sm" placeholder="-" type="text" id="emmas_egroup" style="margin-top: -3px;" disabled>-->
                        @*<input class="form-control form-control-sm" placeholder="กำหนดระดับราคาขาย" type="text" id="emmas_egroup" style="margin-top: -3px;" disabled>*@
                        <!--</div>
                        <div class="col-lg mg-t-10 mg-lg-t-0">
                            <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">ตารางส่วนลด</label>
                            <input class="form-control form-control-sm" placeholder="-" type="text" id="emmas_egdis" style="margin-top: -3px;" disabled>-->
                        @*<input class="form-control form-control-sm" placeholder="ตารางส่วนลด" type="text" id="emmas_egdis" style="margin-top: -3px;" disabled>*@
                        <!--</div>
                        </div>
                        <div class="row row-sm mg-t-15">
                            <div class="col-lg">
                                <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Part specialist</label>
                                <input class="form-control form-control-sm" placeholder="-" type="text" id="" style="margin-top: -3px;" disabled>-->
                        @*<input class="form-control form-control-sm" placeholder="Part specialist" type="text" id="" style="margin-top: -3px;" disabled>*@
                        <!--</div>
                        <div class="col-lg mg-t-10 mg-lg-t-0">
                            <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Admin Sale</label>
                            <input class="form-control form-control-sm" placeholder="-" type="text" id="" style="margin-top: -3px;" disabled>-->
                        @*<input class="form-control form-control-sm" placeholder="Admin Sale" type="text" id="" style="margin-top: -3px;" disabled>*@
                        <!--</div>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*<div class="row mg-t-20">
            <div class="col-md-12 col-xl-12 col-xs-12 col-sm-12">
                <div class="card card-primary">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 col-xl-12 col-xs-12 col-sm-12">
                                <div class="main-content-label mg-b-5 tx-14">
                                    ข้อมูลเป้าการขาย
                                </div>
                                <div class="row row-sm mg-t-20">
                                    <div class="col-lg-1">
                                        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">เป้าหมายปี</label>
                                    </div>
                                    <div class="col-lg-2">
                                        <select class="form-control form-control-sm select2">
                                            <option value="2021">2021</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row row-sm mg-t-20">
                                    <div class="col-lg-2">
                                        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">มกราคม</label>
                                        <input class="form-control form-control-sm" placeholder="" type="text" id="saletarget_m01" style="margin-top: -3px;" value="80,000">
                                    </div>

                                    <div class="col-lg-2">
                                        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">กุมภาพันธ์</label>
                                        <input class="form-control form-control-sm" placeholder="" type="text" id="saletarget_m02" style="margin-top: -3px;" value="80,000">
                                    </div>

                                    <div class="col-lg-2">
                                        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">มีนาคม</label>
                                        <input class="form-control form-control-sm" placeholder="" type="text" id="saletarget_m02" style="margin-top: -3px;" value="80,000">
                                    </div>

                                    <div class="col-lg-2">
                                        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">เมษายน</label>
                                        <input class="form-control form-control-sm" placeholder="" type="text" id="saletarget_m02" style="margin-top: -3px;" value="80,000">
                                    </div>

                                    <div class="col-lg-2">
                                        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">พฤษภาคม</label>
                                        <input class="form-control form-control-sm" placeholder="" type="text" id="saletarget_m02" style="margin-top: -3px;" value="80,000">
                                    </div>

                                    <div class="col-lg-2">
                                        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">มิถุนายน</label>
                                        <input class="form-control form-control-sm" placeholder="" type="text" id="saletarget_m02" style="margin-top: -3px;" value="80,000">
                                    </div>


                                </div>
                                <div class="row row-sm mg-t-15">
                                    <div class="col-lg-2">
                                        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">กรกฎาคม</label>
                                        <input class="form-control form-control-sm" placeholder="" type="text" id="saletarget_m02" style="margin-top: -3px;" value="80,000">
                                    </div>

                                    <div class="col-lg-2">
                                        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">สิงหาคม</label>
                                        <input class="form-control form-control-sm" placeholder="" type="text" id="saletarget_m02" style="margin-top: -3px;" value="80,000">
                                    </div>

                                    <div class="col-lg-2">
                                        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">กันยายน</label>
                                        <input class="form-control form-control-sm" placeholder="" type="text" id="saletarget_m02" style="margin-top: -3px;" value="80,000">
                                    </div>

                                    <div class="col-lg-2">
                                        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">ตุลาคม</label>
                                        <input class="form-control form-control-sm" placeholder="" type="text" id="saletarget_m02" style="margin-top: -3px;" value="80,000">
                                    </div>

                                    <div class="col-lg-2">
                                        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">พฤศจิกายน</label>
                                        <input class="form-control form-control-sm" placeholder="" type="text" id="saletarget_m02" style="margin-top: -3px;" value="80,000">
                                    </div>

                                    <div class="col-lg-2">
                                        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">ธันวาคม</label>
                                        <input class="form-control form-control-sm" placeholder="" type="text" id="saletarget_m02" style="margin-top: -3px;" value="80,000">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@


    @*<div class="row mg-t-20">
            <div class="col-md-12 col-xl-12 col-xs-12 col-sm-12">
                <div class="card card-primary">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 col-xl-6 col-xs-6 col-sm-6">
                                <div class="main-content-label mg-b-5 tx-14">
                                    ข้อมูลการขาย
                                </div>
                                <div class="row row-sm mg-t-20">
                                    <div class="col-lg">
                                        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Line of bussiness</label>
                                        <input class="form-control form-control-sm" placeholder="Line of bussiness" type="text" id="customer_ax_lineofbussiness" style="margin-top: -3px;">
                                    </div>
                                    <div class="col-lg mg-t-10 mg-lg-t-0">
                                        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Customer Type</label>
                                        <input class="form-control form-control-sm" placeholder="Customer Type" type="text" id="salegrch_customertype" style="margin-top: -3px;">
                                    </div>

                                </div>
                                <div class="row row-sm mg-t-15">
                                    <div class="col-lg">
                                        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Segment</label>
                                        <input class="form-control form-control-sm" placeholder="Segment" type="text" id="customer_ax_segment" style="margin-top: -3px;">
                                    </div>
                                    <div class="col-lg mg-t-10 mg-lg-t-0">
                                        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Subsegment</label>
                                        <input class="form-control form-control-sm" placeholder="Subsegment" type="text" id="customer_ax_subsegment" style="margin-top: -3px;">
                                    </div>
                                </div>
                                <div class="row row-sm mg-t-15">
                                    <div class="col-lg">
                                        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Company chain</label>
                                        <input class="form-control form-control-sm" placeholder="Company chain" type="text" id="customer_ax_companychain" style="margin-top: -3px;">
                                    </div>
                                    <div class="col-lg mg-t-10 mg-lg-t-0">
                                        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Sales district</label>
                                        <input class="form-control form-control-sm" placeholder="Sales district" type="text" id="customer_ax_salesdistrict" style="margin-top: -3px;">
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6 col-xl-6 col-xs-6 col-sm-6">
                                <div class="main-content-label mg-b-5 tx-14">
                                    &nbsp;
                                </div>
                                <div class="row row-sm mg-t-20">
                                    <div class="col-lg">
                                        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Statistics group</label>
                                        <input class="form-control form-control-sm" placeholder="Statistics group" type="text" id="customer_ax_statisticsgroup" style="margin-top: -3px;">
                                    </div>
                                    <div class="col-lg mg-t-10 mg-lg-t-0">
                                        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Currency</label>
                                        <input class="form-control form-control-sm" placeholder="Currency" type="text" id="customer_ax_currency" style="margin-top: -3px;">
                                    </div>
                                </div>
                                <div class="row row-sm mg-t-15">
                                    <div class="col-lg">
                                        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Price group</label>
                                        <input class="form-control form-control-sm" placeholder="Price group" type="text" id="customer_ax_pricegroup" style="margin-top: -3px;">
                                    </div>
                                    <div class="col-lg mg-t-10 mg-lg-t-0">
                                        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Source code</label>
                                        <input class="form-control form-control-sm" placeholder="Source code" type="text" id="customer_ax_sourcecode" style="margin-top: -3px;">
                                    </div>
                                </div>
                                <div class="row row-sm mg-t-15">
                                    <div class="col-lg">
                                        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Order entry deadline</label>
                                        <input class="form-control form-control-sm" placeholder="Order entry deadline" type="text" id="customer_ax_orderentrydeadline" style="margin-top: -3px;">
                                    </div>
                                    <div class="col-lg mg-t-10 mg-lg-t-0">
                                        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Sale demographic</label>
                                        <input class="form-control form-control-sm" placeholder="Sale demographic" type="text" id="customer_ax_saledemographic" style="margin-top: -3px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
</div>
