<div class="tab-pane active" id="saletargetinfo">
    <div class="row mg-t-20">
        <div class="col-md-12 col-xl-12 col-xs-12 col-sm-12">
            <div class="card card-primary">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 col-xl-12 col-xs-12 col-sm-12">
                            <div class="main-content-label mg-b-5 tx-14">
                                ข้อมูลพนักงานขายและการขายทั่วไป
                            </div>
                            <div class="row row-sm mg-t-20">
                                <div class="col-lg-3">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">ชื่อพนักงานขาย</label>
                                    <input class="form-control form-control-sm" placeholder="Sale Channel" readonly="" type="text" id="salegrch_salechannel" style="margin-top: -3px;" value="คุณสาโรจน์  ตินพ">
                                </div>
                                <div class="col-lg-3 mg-t-10 mg-lg-t-0">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">ชื่อเล่น</label>
                                    <input class="form-control form-control-sm" placeholder="Sale Executive" readonly="" type="text" id="" style="margin-top: -3px;" value="บอล">
                                </div>
                            </div>
                            <div class="row row-sm mg-t-15">
                                <div class="col-lg-3">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Sale Channel</label>
                                    <input class="form-control form-control-sm" placeholder="Sale Channel" readonly="" type="text" id="salegrch_salechannel" style="margin-top: -3px;" value="SaleB2B">
                                </div>
                                <div class="col-lg-3 mg-t-10 mg-lg-t-0">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Sale Group</label>
                                    <input class="form-control form-control-sm" placeholder="Sale Group" readonly="" type="text" id="salegrch_salegroup" style="margin-top: -3px;" value="SMG">
                                </div>
                                <div class="col-lg-3 mg-t-10 mg-lg-t-0">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Area</label>
                                    <input class="form-control form-control-sm" placeholder="Sale Group" readonly="" type="text" id="salegrch_salegroup" style="margin-top: -3px;" value="BKK3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row mg-t-20">
        <div class="col-md-12 col-xl-12 col-xs-12 col-sm-12">
            <div class="card card-primary">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 col-xl-12 col-xs-12 col-sm-12">
                            <div class="main-content-label mg-b-5 tx-14">
                                ข้อมูลเป้าการขาย
                            </div>
                            <div class="row row-sm mg-t-20">
                                <div class="col-lg-1">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">เป้าหมายปี</label>
                                </div>
                                <div class="col-lg-2">
                                    <select class="form-control form-control-sm select2">
                                        <option value="2021">2021</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row row-sm mg-t-20">
                                <div class="col-lg-2">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">มกราคม</label>
                                    <input class="form-control form-control-sm" placeholder="" type="text" id="saletarget_m01" style="margin-top: -3px;" value="310,000">
                                </div>

                                <div class="col-lg-2">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">กุมภาพันธ์</label>
                                    <input class="form-control form-control-sm" placeholder="" type="text" id="saletarget_m02" style="margin-top: -3px;" value="320,000">
                                </div>

                                <div class="col-lg-2">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">มีนาคม</label>
                                    <input class="form-control form-control-sm" placeholder="" type="text" id="saletarget_m02" style="margin-top: -3px;" value="330,000">
                                </div>

                                <div class="col-lg-2">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">เมษายน</label>
                                    <input class="form-control form-control-sm" placeholder="" type="text" id="saletarget_m02" style="margin-top: -3px;" value="340,000">
                                </div>

                                <div class="col-lg-2">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">พฤษภาคม</label>
                                    <input class="form-control form-control-sm" placeholder="" type="text" id="saletarget_m02" style="margin-top: -3px;" value="350,000">
                                </div>

                                <div class="col-lg-2">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">มิถุนายน</label>
                                    <input class="form-control form-control-sm" placeholder="" type="text" id="saletarget_m02" style="margin-top: -3px;" value="360,000">
                                </div>


                            </div>
                            <div class="row row-sm mg-t-15">
                                <div class="col-lg-2">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">กรกฎาคม</label>
                                    <input class="form-control form-control-sm" placeholder="" type="text" id="saletarget_m02" style="margin-top: -3px;" value="370,000">
                                </div>

                                <div class="col-lg-2">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">สิงหาคม</label>
                                    <input class="form-control form-control-sm" placeholder="" type="text" id="saletarget_m02" style="margin-top: -3px;" value="492,000">
                                </div>

                                <div class="col-lg-2">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">กันยายน</label>
                                    <input class="form-control form-control-sm" placeholder="" type="text" id="saletarget_m02" style="margin-top: -3px;" value="390,000">
                                </div>

                                <div class="col-lg-2">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">ตุลาคม</label>
                                    <input class="form-control form-control-sm" placeholder="" type="text" id="saletarget_m02" style="margin-top: -3px;" value="400,000">
                                </div>

                                <div class="col-lg-2">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">พฤศจิกายน</label>
                                    <input class="form-control form-control-sm" placeholder="" type="text" id="saletarget_m02" style="margin-top: -3px;" value="410,000">
                                </div>

                                <div class="col-lg-2">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">ธันวาคม</label>
                                    <input class="form-control form-control-sm" placeholder="" type="text" id="saletarget_m02" style="margin-top: -3px;" value="420,000">
                                </div>
                            </div>
                            <br />
                            <div class="card-header pb-0" style="margin-top: 0px;margin-left: -20px;">
                                <span class="card-title mb-0 pb-0">เป้าหมายยอดขายของพนักงานขาย</span>
                            </div>
                            <div class="row row-sm mg-t-15">
                                <table class="table table-bordered" border="0" style="width: 100%;text-align:center;overflow-x: auto;" id="tbl_goodprice">
                                    <tr>
                                        <th class="tx-bold" style="width: 8%;">เกรดลูกค้า</th>
                                        <th class="tx-bold" style="width: 12%;">เป้าหมายของเกรด</th>
                                        <th class="tx-bold" style="width: 8%;">จำนวนลูกค้า</th>
                                        <th class="tx-bold" style="width: 10%;">TARGET</th>
                                        <th class="tx-bold" style="width: 10%;">จำนวนลูกค้าที่ถึงเป้า</th>
                                        <th class="tx-bold" style="width: 15%;">เป้าเดือนปัจจุบัน</th>
                                        <th class="tx-bold" style="width: 15%;">ยอดขาย</th>
                                        <th class="tx-bold" style="width: 15%;">เทียบเป้า (%)</th>
                                    </tr>
                                    <tr>
                                        <th class="tx-bold" style="width: 8%;"></th>
                                        <th class="tx-bold" style="width: 12%;"></th>
                                        <th class="tx-bold" style="width: 8%;">114</th>
                                        <th class="tx-bold" style="width: 10%;">3,564,000</th>
                                        <th class="tx-bold" style="width: 10%;">16</th>
                                        <th class="tx-bold" style="width: 15%;">492,000</th>
                                        <th class="tx-bold" style="width: 15%;">526,569</th>
                                        <th class="tx-bold" style="width: 15%;">107%</th>
                                    </tr>
                                    <tr>
                                        <td class="tx-normal" style="width: 8%;">A</td>
                                        <td class="tx-normal" style="width: 12%;">100,000</td>
                                        <td class="tx-normal" style="width: 8%;">10</td>
                                        <td class="tx-normal" style="width: 10%;">1,260,000</td>
                                        <td class="tx-normal" style="width: 10%;">0</td>
                                        <td class="tx-normal" style="width: 15%;">-</td>
                                        <td class="tx-normal" style="width: 15%;">-</td>
                                        <td class="tx-normal" style="width: 15%;">-</td>
                                    </tr>
                                    <tr>
                                        <td class="tx-normal" style="width: 8%;">B</td>
                                        <td class="tx-normal" style="width: 12%;">50,000</td>
                                        <td class="tx-normal" style="width: 8%;">15</td>
                                        <td class="tx-normal" style="width: 10%;">930,000</td>
                                        <td class="tx-normal" style="width: 10%;">4</td>
                                        <td class="tx-normal" style="width: 15%;">270,000</td>
                                        <td class="tx-normal" style="width: 15%;">240,650</td>
                                        <td class="tx-normal" style="width: 15%;">89%</td>
                                    </tr>
                                    <tr>
                                        <td class="tx-normal" style="width: 8%;">C</td>
                                        <td class="tx-normal" style="width: 12%;">30,000</td>
                                        <td class="tx-normal" style="width: 8%;">13</td>
                                        <td class="tx-normal" style="width: 10%;">435,000</td>
                                        <td class="tx-normal" style="width: 10%;">2</td>
                                        <td class="tx-normal" style="width: 15%;">70,000</td>
                                        <td class="tx-normal" style="width: 15%;">65,281</td>
                                        <td class="tx-normal" style="width: 15%;">93%</td>
                                    </tr>
                                    <tr>
                                        <td class="tx-normal" style="width: 8%;">D</td>
                                        <td class="tx-normal" style="width: 12%;">10,000</td>
                                        <td class="tx-normal" style="width: 8%;">76</td>
                                        <td class="tx-normal" style="width: 10%;">939,000</td>
                                        <td class="tx-normal" style="width: 10%;">10</td>
                                        <td class="tx-normal" style="width: 15%;">152,000</td>
                                        <td class="tx-normal" style="width: 15%;">220,638</td>
                                        <td class="tx-normal" style="width: 15%;">145%</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>