<!-- Scroll with content modal -->
<form id="frm_history" name="frm_history" autocomplete="off">
    <div class="modal effect-flip-vertical" id="modal-frm_history" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content modal-content-demo">
                <div class="modal-header">
                    <h6 class="modal-title">@ViewData["Content-Title-Page"] เลขที่ : <span id="no_br"></span> </h6><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                </div>


                <div class="modal-body">

                    <div class="kt-portlet__body">

                        <div class="border-top my-3"></div>

                        <div class="table-responsive mg-t-20">
                            <table id="tbl-list-history" class="table table-bordered table-striped table-hover mg-b-0 text-md-nowrap">
                                <thead>
                                    <tr>
                                        <th class="d-none">id</th>
                                        @*<th><div style="text-align:center; width:90px;">รหัสพนักงาน</div></th>
                                            <th><div style="text-align:center; width:90px;">ชื่อ-นามสกุล</div></th>
                                            <th><div style="text-align:center; width:90px;">ตำแหน่ง</div></th>
                                            <th><div style="text-align:center; width:70px;" class="">เลขที่ TR</div></th>
                                            <th><div style="text-align:center; width:70px;" class="">ลำดับ</div></th>*@
                                        <th><div style="text-align:center; width:70px;" class="">สถานที่</div></th>
                                        <th><div style="text-align:center; width:70px;" class="">ชื่อสินค้า</div></th>
                                        <th><div style="text-align:center; width:70px;" class="">เลขบาร์โค้ด</div></th>
                                        <th><div style="text-align:center; width:70px;" class="">เลขอะไหล่</div></th>
                                        <th><div style="text-align:center; width:80px;" class="">จำนวนปัจจุบัน</div></th>
                                        <th><div style="text-align:center; width:70px;" class="">จำนวนทั้งหมด</div></th>
                                        <th><div style="text-align:center; width:90px;" class="">หน่วย</div></th>
                                        <th><div style="text-align:center; width:90px;" class="">จำนวนแก้ไข</div></th>
                                        <th><div style="text-align:center; width:90px;" class="">หมายเหตุ</div></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="border-top my-3"></div>
                        <br>
                        <br>

                        <h6 class="modal-title text-center">หมายเหตุรายการ</h6>

                        <div class="form-group form-group-sm row">

                            <label class="col-sm-1 col-form-label">รายการ : </label>
                            <div class="col-sm-6">
                                <select type="text" class="form-control r_item" id="r_item" name="r_item" required="">
                                    <option value="" selected></option>
                                </select>
                            </div>

                            <label class="col-sm-1 col-form-label">จำนวน : </label>
                            <div class="col-sm-1">
                                <input type="number" class="form-control" id="r_qty" name="r_qty" placeholder="" min="0" step="1" required="" data-parsley-error-message="">
                            </div>

                            <label class="col-sm-1 col-form-label">หมายเหตุ : </label>
                            <div class="col-sm-2">
                                <select class="form-control r_remark" id="r_remark" name="r_remark" data-width="100%" required="">
                                    <option value=""></option>
                                    <option value="ขาย">ขาย</option>
                                    <option value="หาย">หาย</option>
                                    <option value="หาไม่เจอ">หาไม่เจอ</option>
                                    <option value="ขาย">ขาย</option>
                                    <option value="หาย">หาย</option>
                                    <option value="หาไม่เจอ">หาไม่เจอ</option>
                                    <option value="ของมาผิด">ของมาผิด</option>
                                    <option value="ของชิ้นใหญ่">ของชิ้นใหญ่</option>
                                    <option value="ของมาไม่ครบ">ของมาไม่ครบ</option>
                                    <option value="รอแพ็ค">รอแพ็ค</option>
                                    <option value="ผิดชั้น">ผิดชั้น</option>
                                    <option value="ผิดคลัง">ผิดคลัง</option>
                                    <option value="จัดให้สาขา">จัดให้สาขา</option>
                                    <option value="ติดจอง">ติดจอง</option>
                                    <option value="อื่นๆ">อื่นๆ</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group form-group-sm row r_remark_more">
                            <label class="col-sm-1 col-form-label">คำอธิบาย : </label>
                            <div class="col-sm-11">
                                <textarea rows="2" class="form-control" id="r_remark_more" name="r_remark_more" style="width:100%"></textarea>
                            </div>
                        </div>

                        <div class="mb-3 mb-xl-0">
                            <button id="btn-save_form" type="submit" class="btn-emp_create btn btn-success btn-with-icon btn-block" data-toggle="modal"><i class="far fa-save"></i>บันทึก</button>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <div class="card-header pb-0">
                            <h5 class="card-title mb-0 pb-0"></h5>
                            <div class="main-dashboard-header-right">
                                <div>
                                    <label class="tx-13">จำนวนขาย</label>
                                    <div><h5 id="sum_qty_sale">0</h5>หน่วย</div>
                                </div>
                                <div>
                                    <label class="tx-13">จำนวนหาย</label>
                                    <div><h5 id="sum_qty_hide">0</h5>หน่วย</div>
                                </div>
                                <div>
                                    <label class="tx-13">จำนวนหาไม่เจอ</label>
                                    <div><h5 id="sum_qty_nfind">0</h5>หน่วย</div>
                                </div>
                                <div>
                                    <label class="tx-13">จำนวนคงเหลือ</label>
                                    <div><h5 id="sum_qty_item">0</h5>รายการ</div>
                                </div>
                                <div>
                                    <label class="tx-13">จำนวนปัจจุบัน</label>
                                    <div><h5 id="sum_qty_current">0</h5> หน่วย</div>
                                </div>
                                <div>
                                    <label class="tx-13">จำนวนทั้งหมด</label>
                                    <div><h5 id="sum_qty_total">0</h5> หน่วย</div>
                                </div>
                            </div>
                        </div>

                        <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Close</button>

                    </div>
                </div>


            </div>
        </div>
    </div>
    <!--End Scroll with content modal -->
</form>
