<form id="frm_data" name="frm_data" autocomplete="off">
    <div class="modal effect-flip-vertical" id="modal-frm_data" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document" style="max-width:90%">
            <div class="modal-content modal-content-demo">
                <div class="modal-header justify-content-between">
                    <div class="my-auto">
                        <div class="d-flex">
                            <h5 class="modal-title">Car Model - Details and Photos</h5>
                        </div>
                    </div>
                    <div class="d-flex my-xl-auto right-content">
                        <div class="mb-6 mb-xl-0">
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row modal-show">
                        <div class="col-sm-6 modal-image_show">
                            <div class="mt-2 carousel-slider">
                                <div id="carousel_mix" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active"><img id="photo_1" src="" alt="img" style="max-height:500px !important;"> </div>
                                        <div class="carousel-item"> <img id="photo_2" src="" alt="img" style="max-height:500px !important;"> </div>
                                        <div class="carousel-item"> <img id="photo_3" src="" alt="img" style="max-height:500px !important;"> </div>
                                        <div class="carousel-item"> <img id="photo_4" src="" alt="img" style="max-height:500px !important;"> </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#carousel_mix" role="button" data-slide="prev">
                                        <i class="fa fa-angle-left fs-30" aria-hidden="true"></i>
                                    </a>
                                    <a class="carousel-control-next" href="#carousel_mix" role="button" data-slide="next">
                                        <i class="fa fa-angle-right fs-30" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <div class="demo-gallery">
                                    <div id="thumbcarousel" class="carousel slide" data-interval="false">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <div data-target="#carousel_mix" data-slide-to="0" class="thumb"><img id="photo_slide_1" src="" alt="img" data-id=""></div>
                                                <div data-target="#carousel_mix" data-slide-to="1" class="thumb"><img id="photo_slide_2" src="" alt="img" data-id=""></div>
                                                <div data-target="#carousel_mix" data-slide-to="2" class="thumb"><img id="photo_slide_3" src="" alt="img" data-id=""></div>
                                                <div data-target="#carousel_mix" data-slide-to="3" class="thumb"><img id="photo_slide_4" src="" alt="img" data-id=""></div>
                                            </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#thumbcarousel" role="button" data-slide="prev">
                                            <i class="fa fa-angle-left fs-20" aria-hidden="true"></i>
                                        </a>
                                        <a class="carousel-control-next" href="#thumbcarousel" role="button" data-slide="next">
                                            <i class="fa fa-angle-right fs-20" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-6 modal-data_show">
                            <div class="tabs-menu ">
                                <ul class="nav nav-tabs profile navtab-custom panel-tabs">
                                    <li class="">
                                        <a href="#details" data-toggle="tab" aria-expanded="true"> <span class="visible-xs"><i class="las la-car tx-16 mr-1"></i></span> <span class="hidden-xs">DETAILS</span> </a>
                                    </li>
                                    <li class="">
                                        <a href="#gallery" data-toggle="tab" aria-expanded="false"> <span class="visible-xs"><i class="las la-images tx-15 mr-1"></i></span> <span class="hidden-xs">GALLERY</span> </a>
                                    </li>
                                    <li class="">
                                        <a href="#item" data-toggle="tab" aria-expanded="false"> <span class="visible-xs"><i class="las la-store-alt tx-15 mr-1"></i></span> <span class="hidden-xs">ITEM</span> </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content border-left border-bottom border-right border-top-0 p-4">
                                <div class="tab-pane active" id="details">
                                    <div class="form-group">
                                        <h4 class="product-title mb-1 tx-center tx-detail" id="dt_modelmix"></h4>
                                    </div>
                                    <div class="mt-1 row">
                                        <label for="dt_vehicle_brand" class="col-sm-3">Vehicle Brand:</label>
                                        <div class="col-sm-3">
                                            <span class="tx-detail" id="dt_vehicle_brand" name="dt_vehicle_brand"></span>
                                        </div>
                                        <label for="dt_vehicle_model" class="col-sm-3">Vehicle Name:</label>
                                        <div class="col-sm-3">
                                            <span class="tx-detail" id="dt_vehicle_model" name="dt_vehicle_model"></span>
                                        </div>
                                    </div>
                                    <div class="mt-1 row">
                                        <label for="dt_vehicle_cartype" class="col-sm-3">Vehicle Cartype:</label>
                                        <div class="col-sm-3">
                                            <span class="tx-detail" id="dt_vehicle_cartype" name="dt_vehicle_cartype"></span>
                                        </div>
                                        <label for="dt_street_name" class="col-sm-3">Street Name:</label>
                                        <div class="col-sm-3">
                                            <span class="tx-detail" id="dt_street_name" name="dt_street_name"></span>
                                        </div>
                                    </div>
                                    <div class="mt-1 row">
                                        <label for="dt_model_change" class="col-sm-3">Model Change:</label>
                                        <div class="col-sm-3">
                                            <span class="tx-detail" id="dt_model_change" name="dt_model_change"></span>
                                        </div>
                                        <label for="dt_minor_change" class="col-sm-3">Minor Change:</label>
                                        <div class="col-sm-3">
                                            <span class="tx-detail" id="dt_minor_change" name="dt_minor_change"></span>
                                        </div>
                                    </div>
                                    <div class="mt-1 row">
                                        <label for="dt_body_type" class="col-sm-3">Body Type:</label>
                                        <div class="col-sm-3">
                                            <span class="tx-detail" id="dt_body_type" name="dt_body_type"></span>
                                        </div>
                                        <label for="dt_high_stant" class="col-sm-3">High Stant:</label>
                                        <div class="col-sm-3">
                                            <span class="tx-detail" id="dt_high_stant" name="dt_high_stant"></span>
                                        </div>
                                    </div>
                                    <div class="mt-1 row">
                                        <label for="dt_wheel" class="col-sm-3">Wheel:</label>
                                        <div class="col-sm-3">
                                            <span class="tx-detail" id="dt_wheel" name="dt_wheel"></span>
                                        </div>
                                        <label for="dt_wheel_drive" class="col-sm-3">Wheel Drive:</label>
                                        <div class="col-sm-3">
                                            <span class="tx-detail" id="dt_wheel_drive" name="dt_wheel_drive"></span>
                                        </div>
                                    </div>
                                    <div class="mt-1 row">
                                        <label for="dt_chassis_model" class="col-sm-3">Chassis Model:</label>
                                        <div class="col-sm-3">
                                            <span class="tx-detail" id="dt_chassis_model" name="dt_chassis_model"></span>
                                        </div>
                                    </div>

                                    <table id="tbl-model_line" class="table table-hover mg-b-0 text-md-nowrap d-none" style="overflow-x: visible; border-top: 0px; border-bottom: 0px; border-left: 0px; border-right: 0px;" width="100%">
                                        <thead>
                                            <tr>
                                                <th colspan="9" class="tx-center" style="font-size: 12px;">MODEL LINE</th>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th style="font-size: 9px;">Fuel Type</th>
                                                <th style="font-size: 9px;">Engine Dispacement</th>
                                                <th style="font-size: 9px;">Engine Code</th>
                                                <th style="font-size: 9px;">TRANS MISSION</th>
                                                <th style="font-size: 9px;">Wheel Drive</th>
                                                <th style="font-size: 9px;">Model Code</th>
                                                <th style="font-size: 9px;">Remarks</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>

                                    <table id="tbl-model_line_truck" class="table table-hover mg-b-0 text-md-nowrap d-none" style="overflow-x: visible; border-top: 0px; border-bottom: 0px; border-left: 0px; border-right: 0px;" width="100%">
                                        <thead>
                                            <tr>
                                                <th colspan="9" class="tx-center" style="font-size: 12px;">MODEL LINE</th>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th style="font-size: 9px;">ILK</th>
                                                <th style="font-size: 9px;">Fuel Type</th>
                                                <th style="font-size: 9px;">Engine Dispacement</th>
                                                <th style="font-size: 9px;">Engine Code</th>
                                                <th style="font-size: 9px;">TRANS MISSION</th>
                                                <th style="font-size: 9px;">HP</th>
                                                <th style="font-size: 9px;">CHASSIS CODE</th>
                                                <th style="font-size: 9px;">Remarks</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>

                                </div>
                                <div class="tab-pane" id="gallery">
                                    <div class="row">
                                        <div class="demo-gallery">
                                            <ul id="car_gallery" class="list-unstyled row row-sm car_gallery">
                                                <li id="m_photo_1" class="col-sm-6 col-lg-3" data-responsive="../../assets/img/photos/1.jpg" data-src="../../assets/img/photos/1.jpg" data-sub-html="<h4>Gallery Image 1</h4>">
                                                    <a href="">
                                                        <img id="gm_photo_1" class="img-responsive" src="../../assets/img/photos/1.jpg" alt="Thumb-1">
                                                    </a>
                                                </li>
                                                <li id="m_photo_2" class="col-sm-6 col-lg-3" data-responsive="../../assets/img/photos/2.jpg" data-src="../../assets/img/photos/2.jpg" data-sub-html="<h4>Gallery Image 2</h4>">
                                                    <a href="">
                                                        <img id="gm_photo_2" class="img-responsive" src="../../assets/img/photos/2.jpg" alt="Thumb-1">
                                                    </a>
                                                </li>
                                                <li id="m_photo_3" class="col-sm-6 col-lg-3" data-responsive="../../assets/img/photos/3.jpg" data-src="../../assets/img/photos/3.jpg" data-sub-html="<h4>Gallery Image 3</h4>">
                                                    <a href="">
                                                        <img id="gm_photo_3" class="img-responsive" src="../../assets/img/photos/3.jpg" alt="Thumb-1">
                                                    </a>
                                                </li>
                                                <li id="m_photo_4" class="col-sm-6 col-lg-3" data-responsive="../../assets/img/photos/4.jpg" data-src="../../assets/img/photos/4.jpg" data-sub-html="<h4>Gallery Image 4</h4>">
                                                    <a href="">
                                                        <img id="gm_photo_4" class="img-responsive" src="../../assets/img/photos/4.jpg" alt="Thumb-1">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="item">
                                    <div aria-multiselectable="true" class="accordion accordion-dark" id="search_item" role="tablist">
                                        <div class="card mb-3">
                                            <div class="card-header" id="headingOne2" role="tab">
                                                <a aria-controls="collapse_search_item" aria-expanded="false" data-toggle="collapse" href="#collapse_search_item"><i class="fe fe-search mr-2"></i>Search</a>
                                            </div>
                                            <div aria-labelledby="headingOne2" class="collapse" data-parent="#search_item" id="collapse_search_item" role="tabpanel">
                                                <div class="card-body">
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-sm-4">
                                                                <label class="form-label" for="search_item_code1_abb">Code1-ชื่อกลุ่มสินค้า</label>
                                                                <select class="form-control form-control-sm select2-sm search_code" id="search_item_code1_abb" name="search_item_code1_abb" style="width: 100%">
                                                                    <option value="">---ทั้งหมด---</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <label class="form-label" for="search_item_code5">Code5-รุ่นและปีรถ</label>
                                                                <select class="form-control form-control-sm select2-sm search_code" id="search_item_code5" name="search_item_code5" style="width: 100%">
                                                                    <option value="">---ทั้งหมด---</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <label class="form-label" for="search_item_code3">Code3-ยี่ห้อสินค้า</label>
                                                                <select class="form-control form-control-sm select2-sm search_code" id="search_item_code3" name="search_item_code3" style="width: 100%">
                                                                    <option value="">---ทั้งหมด---</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <label class="form-label" for="search_item_code2">Code2-คุณลักษณะ</label>
                                                                <select class="form-control form-control-sm select2-sm search_code" id="search_item_code2" name="search_item_code2" style="width: 100%">
                                                                    <option value="">---ทั้งหมด---</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <label class="form-label" for="search_item_code4">Code4-อื่นๆ</label>
                                                                <select class="form-control form-control-sm select2-sm search_code" id="search_item_code4" name="search_item_code4" style="width: 100%">
                                                                    <option value="">---ทั้งหมด---</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-sm-4 pd-t-25">
                                                                <div class="btn-icon-list ml-auto float-right">
                                                                    <button class="btn btn-dark btn-icon btn-search_item" id="search_item"><i class="las la-search"></i></button>
                                                                    <button class="btn btn-secondary btn-icon btn-search_item" id="search_reset"><i class="las la-broom"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <table id="table-carmodel_item" class="table table-hover mg-b-0 text-md-nowrap" style="overflow-x: visible; border-top: 0px; border-bottom: 0px; border-left: 0px; border-right: 0px;" width="100%">
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-save_pic" class="btn ripple btn-warning d-none" style="width: 100px;" data-action="save_pic" type="submit">Save Pic</button>
                    <button id="btn-save_exit" class="btn ripple btn-primary btn-save_form  d-none" style="width: 100px;" data-action="save_exit" type="submit">Save</button>
                    <button class="btn ripple btn-secondary" style="width: 100px;" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--End Scroll with content modal -->
</form>