@page "/trp/delivery_motorcycle"

@{
    ViewData["Script"] = "apps/trp/opt-delivery-mo-job.js";

    ViewData["Title"] = "Index";
    ViewData["Content-Title"] = "VSK Transport Plan";
    ViewData["Content-Title-Page"] = "บันทึกการนำส่งสินค้าด่วนพิเศษ-ประจำวัน";

}

@* container opened *@
<div class="container">

    @* subheader *@
    <div class="breadcrumb-header justify-content-between">

        @* breadcrumb *@
        <div class="my-auto">
            <div class="d-flex">
                <h4 class="content-title mb-0 my-auto">@ViewData["Content-Title"]</h4><span class="text-muted mt-1 tx-13 ml-2 mb-0">/ @ViewData["Content-Title-Page"]</span>

            </div>
        </div>
        @* breadcrumb *@
        <div class="d-flex my-xl-auto right-content">
            <div class="mb-3 mb-xl-0">
                <button id="btn-print" class="btn btn-dark btn-with-icon btn-block d-none"><i class="mdi mdi-printer mr-1"></i>Print</button>
                @*<div class="dropdown" id="pay_dropdown">
                    <button aria-expanded="false" aria-haspopup="true" class="btn ripple btn-dark" data-toggle="dropdown" type="button"> การชำระ<i class="fas fa-caret-down ml-1"></i></button>
                    <div class="dropdown-menu tx-13">
                        <a class="dropdown-item" id="pay_origin" active href="#">ต้นทาง</a>
                        <a class="dropdown-item" id="pay_destination" href="#">ปลายทาง</a>
                        <a class="dropdown-item" id="pay_cod" href="#">COD</a>
                    </div>
                </div>*@
            </div>
        </div>
        @*<div class="main-dashboard-header-right">
            <div>
                <label class="tx-13">ส่งสินค้าด่วน</label>
                <div><h5 id="count_express" class="count_inv">0</h5>รายการ</div>
            </div>
            <div>
                <label class="tx-13">รับสินค้า Supplier</label>
                <div><h5 id="count_supplier" class="count_inv">0</h5> รายการ</div>
            </div>
            <div>
                <label class="tx-13">จัดส่งสินค้าสาขา</label>
                <div><h5 id="count_br" class="count_inv">0</h5> รายการ</div>
            </div>
            <div>
                <label class="tx-13">รับสินค้าคืน</label>
                <div><h5 id="count_cn" class="count_inv">0</h5> รายการ</div>
            </div>
            <div>
                <label class="tx-13">ยอดรวม COD</label>
                <div><h5 id="cod_today" class="count_inv">0</h5> บาท/วัน</div>
            </div>
        </div>*@
    </div>
    @* subheader *@

    @* modal form *@
    <div id="card-form" class="row">
        <partial name="~/Pages/VSK-TRP/opt-delivery-mo-job/Form.cshtml" />
    </div>
    @* modal form *@


    @* modal form *@
    <!--<div id="card-form" class="row">
        <partial name="~/Pages/BR/br-opt-job/List_history.cshtml" />
    </div>-->
    @* modal form *@


    @* datatables *@
    <div id="card-datatables" class="row">
        <partial name="~/Pages/VSK-TRP/opt-delivery-mo-job/List.cshtml" />
    </div>
    @* datatables *@



</div>
@* Container closed *@
