@page "/cn_req/job_list"

@{
    ViewData["Script"] = "apps/ivc/cn-req-lists.js";

    ViewData["Title"] = "Index";
    ViewData["Content-Title"] = "CN";
    ViewData["Content-Title-Page"] = "เรียกรับคืนสินค้า";

}

@* container opened *@
<div class="container">

    @* subheader *@
    <div class="breadcrumb-header justify-content-between">

        @* breadcrumb *@
        <div class="my-auto">
            <div class="d-flex">
                <h4 class="content-title mb-0 my-auto">@ViewData["Content-Title"]</h4><span class="text-muted mt-1 tx-13 ml-2 mb-0">/ @ViewData["Content-Title-Page"]</span>
            </div>
        </div>
        @* breadcrumb *@

    </div>
    @* subheader *@

    @* modal form *@
    <div id="card-form" class="row">
        <partial name="~/Pages/VSK-IVC/cn-req-job/cn-req-lists/Form.cshtml" />
    </div>
    @* modal form *@

    @* datatables *@
    <div id="card-datatables" class="row">
        <partial name="~/Pages/VSK-IVC/cn-req-job/cn-req-lists/List.cshtml" />
    </div>
    @* datatables *@


    <div id="card-history" class="row">
        <partial name="~/Pages/VSK-IVC/cn-req-job/cn-req-lists/History.cshtml" />
    </div>

</div>
@* Container closed *@



