<div class="col-12 col-sm-12">
    <div class="card">
        <div class="card-header pb-0">
            <h5 id="card-title-pages" class="card-title mb-0 pb-0">@ViewData["Content-Title-Page"]</h5>
        </div>
        <div class="card-body">
            <form class="form-horizontal" id="frm_data" name="frm_data" autocomplete="off">
                <div class="row row-sm">
                    <div class="form-group col-3">
                        <label for="pck_number" class="col-form-label">วันที่จัดส่ง</label>
                        <div class="input-group date">
                            <input class="form-control date-picker" id="job_date" name="job_date" type="text" value="" required>
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="la la-calendar-check-o"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-2">
                        <label for="inv_date" class="col-form-label">สายส่ง</label>
                        <select type="text" class="form-control" id="route_no" name="route_no">
                            <option value="">- เลือกสายส่ง -</option>
                        </select>
                    </div>
                    <div class="form-group col-2">
                        <label for="inv_date" class="col-form-label">ทะเบียนรถ</label>
                        <select type="text" class="form-control" id="job_plate" name="job_plate">
                            <option value="">- เลือกทะเบียนรถ -</option>
                        </select>
                    </div>
                    <div class="form-group col-2">
                        <label class="col-form-label">สถานะจัดส่ง</label>
                        <select class="form-control" id="derivery_status" name="derivery_status" data-width="100%" placeholder="สถานะจัดส่ง">
                            <option value="">- เลือกลูกค้า -</option>
                            <option value="1">ปิดบรรทุกแล้ว</option>
                            <option value="2">รับสินค้าขึ้นรถ</option>
                            <option value="3">จัดส่งเรียบร้อยแล้ว</option>
                            <option value="4">จัดส่งเรียบร้อย ล่าช้า</option>
                            <option value="5">จัดส่งไม่สำเร็จ</option>
                        </select>
                    </div>
                    <div class="form-group col-3">
                        <label class="col-form-label">พนักงานขับรถ</label>
                        <select type="text" class="form-control" id="driver_id" name="driver_id">
                            <option value="">- เลือกพนักงานขับรถ -</option>
                        </select>
                    </div>
                    <div class="form-group col-3">
                        <label class="col-form-label">ลูกค้า</label>
                        <select type="text" class="form-control" id="emmas_code" name="emmas_code">
                            <option value="">- ลูกค้า -</option>
                        </select>
                    </div>

                    <div class="form-group col-3">
                        <label class="col-form-label">เลขที่ใบงาน</label>
                        <input class="form-control job_inv" placeholder="ระบุเลขที่ใบงาน" type="text" id="job_no" name="job_no">
                    </div>

                    <div class="form-group col-2">
                        <label class="col-form-label">เลขที่อ้างอิง</label>
                        <input class="form-control" placeholder="ระบุเลขที่อ้างอิง" type="text" id="job_ref" name="job_ref">
                    </div>
                    <div class="form-group col-2">
                        <label class="col-form-label">เลขที่ใบสั่งซื้อ</label>
                        <input class="form-control" placeholder="ระบุเลขที่ใบสั่งซื้อ" type="text" id="job_inv" name="job_inv">
                    </div>
                    <div class="form-group col-2">
                        <label class="col-form-label">เลขที่ใบสั่งจัด</label>
                        <input class="form-control" placeholder="ระบุเลขที่ใบสั่งจัด" type="text" id="job_pk" name="job_pk">
                    </div>

                </div>
                <div class="form-group mb-0 justify-content-end float-left">
                    <div class="d-sm-flex justify-content-between align-items-center mt-3">
                        <div class="d-flex align-items-center mr-2">
                            <i class="mdi mdi-clock tx-15 mb-0 mr-1 text-primary"></i>
                            <p class="mb-0 tx-15">last update time</p>
                        </div>
                        <p class="text-muted mb-0 ml-auto last-time mr-1"></p>
                        <a href="javascript:void(0)" class="mb-0 ml-auto btn-refresh" id="btn-refresh-movemax" ><i class="bx bx-refresh text-danger tx-22"></i></a>
                    </div>
                </div>
                <div class="form-group mb-0 justify-content-end" align="right">
                    <div align="right">
                        <button type="submit" class="btn btn-success">Search</button>
                        <button type="button" class="btn btn-secondary" onClick="window.location.reload();">Cancel</button>
                        <button type="button" class="btn btn-primary" id="btn-export" data-toggle="dropdown">Export <i class="icon ion-ios-arrow-down tx-11 mg-l-3"></i></button>
                        <div class="dropdown-menu">
                            <a href="http://192.168.1.187/ReportServer/Pages/ReportViewer.aspx?%2fReport+PkToTms%2fReportPkToTms&rs:Command=Render" id="PkToTms" class="dropdown-item btn-report">Report-PK INV TMS</a>
                            @*<a href="" class="dropdown-item btn-tbl_export" data-export="print">Print</a>
                    <a href="" class="dropdown-item btn-tbl_export" data-export="copy">Copy to clipboard</a>*@
                        </div>
                    </div>
                </div>
            </form>
            <div class="border-top my-3"></div>
            <div class="mg-t-20">
                <div class="d-flex flex-row justify-content-center">
                    <div class="align-self-center spinner-border loader-spinner" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <table id="table-list" class="table table-bordered table-hover mg-b-0"></table>
            </div>
        </div>
    </div>
</div>
