@page "/hr/head_assessment"

@{
    ViewData["Script"] = "apps/hr/hr-assessment-head.js";

    ViewData["Title"] = "Index";
    ViewData["Content-Title"] = "HR";
    ViewData["Content-Title-Page"] = "ระดับหัวหน้างาน";

}

@* container opened *@
<div class="container">

    @* subheader *@
    <div class="breadcrumb-header justify-content-between">

        @* breadcrumb *@
        <div class="my-auto">
            <div class="d-flex">
                <h4 class="content-title mb-0 my-auto">@ViewData["Content-Title"]</h4><span class="text-muted mt-1 tx-13 ml-2 mb-0">/ @ViewData["Content-Title-Page"]</span>
            </div>
        </div>
        @* breadcrumb *@

    </div>
    @* subheader *@

    @* modal form *@
    <div id="card-form" class="row">
        <partial name="~/Pages/VSK-HR/hr-assessment-head/Form.cshtml" />
    </div>
    @* modal form *@

    @* datatables *@
    <div id="card-datatables" class="row">
        <partial name="~/Pages/VSK-HR/hr-assessment-head/List.cshtml" />
    </div>
    @* datatables *@

</div>
@* Container closed *@
