<div class="col-12 col-sm-12">
    <div class="card">
        <div class="card-header pb-0">
            <h5 class="card-title mb-0 pb-0">@ViewData["Content-Title-Page"]</h5>
        </div>
        <div class="card-body">
            <form class="form-horizontal" id="frm_search" name="frm_search" autocomplete="off">
                <div class="form-group">
                    <div class="row row-sm ">
                        <div class="col-lg-3">
                            <label class="col-form-label" style="text-align: left;font-weight: bold;">Job Type</label>
                            <select class="form-control job_type" id="job_type" name="job_type" >
                                <option value="">-ระบุประเภท-</option>
                                <option value="1">ฝ่าย</option>
                                <option value="2">แผนก</option>
                                <option value="3">ตำแหน่ง</option>
                            </select>
                        </div>
                        <div class="col-lg-4">
                            <label for="tr_user" class="col-form-label tx-bold">Job Name</label>
                            <input class="form-control form-control" placeholder="ระบุชื่อพนักงาน" id="job_name" name="job_name" type="text" value="">
                        </div>
                    </div>
                </div>
                <div class="form-group mb-0 mt-3 justify-content-end" align="right">
                    <div align="right">
                        <button type="submit" class="btn btn-primary">Search</button>
                        <button type="reset" class="btn btn-secondary" onClick="window.location.reload();">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
