@page "/trp/check_iv_job"

@{
    ViewData["Script"] = "apps/trp/opt-check_iv-job.js";

    ViewData["Title"] = "Index";
    ViewData["Content-Title"] = "TRP";
    ViewData["Content-Title-Page"] = "ตรวจสอบสินค้า";

}

@* container opened *@
<div class="container">

    @* subheader *@
    <div class="breadcrumb-header justify-content-between">

        @* breadcrumb *@
        <div class="my-auto">
            <div class="d-flex">
                <h4 class="content-title mb-0 my-auto">@ViewData["Content-Title"]</h4><span class="text-muted mt-1 tx-13 ml-2 mb-0">/ @ViewData["Content-Title-Page"]</span>
            </div>
        </div>
        @* breadcrumb *@

    </div>
    @* subheader *@

    @* modal form *@
    <div id="card-form" class="row">
        <partial name="~/Pages/VSK-TRP/opt-check_iv-job/Form.cshtml" />
    </div>
    @* modal form *@


    @* modal form *@
    <!--<div id="card-form" class="row">
        <partial name="~/Pages/BR/br-opt-job/List_history.cshtml" />
    </div>-->
    @* modal form *@


    @* datatables *@
    <div id="card-datatables" class="row">
        <partial name="~/Pages/VSK-TRP/opt-check_iv-job/List.cshtml" />
    </div>
    @* datatables *@



</div>
@* Container closed *@
