<div class="col-12 col-sm-12">
    <div class="card">
        <div class="card-header pb-0">
            <h5 class="card-title mb-0 pb-0">@ViewData["Content-Title-Page"]</h5>
            <span class="tx-right tx-15 tx-primary time-today mg-r-10" style="float: right; margin-top:-20px;">เวลา</span>
        </div>
        <div class="card-body">
            <!-- 1 -->
            <form class="form-horizontal" id="frm_search" name="frm_search" autocomplete="off">
                <div class="form-group form-group-sm row">
                    <label class="col-md-1 col-form-label">วันที่รายงาน : </label>
                    <div class="col-md-3">
                        <div class="input-group date">
                            <input class="form-control" id="packing_jobdate" name="packing_jobdate" type="text" value="">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="la la-calendar-check-o"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <label class="col-sm-1 col-form-label">ใบงาน : </label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="packing_job_no" name="packing_job_no" placeholder="xxx-xxxx-xxxx">
                    </div>
                    <label class="col-md-1 col-form-label">ผู้สร้างเอกสาร : </label>
                    <div class="col-md-3">
                        <select class="form-control rt_createby" id="created_by" name="created_by" data-width="100%" placeholder="เลือกเจ้าหน้าที่">
                            <option value="">--select--</option>
                        </select>
                    </div>
                </div>

                <!-- 2 -->

                <div class="form-group form-group-sm row">

                    <label class="col-sm-1 col-form-label">ลูกค้า : </label>
                    <div class="col-sm-3">
                        <select class="form-control" id="emmas_code" name="emmas_code" data-width="100%" placeholder="เลือกลูกค้า">
                            <option value="">--select--</option>
                        </select>
                    </div>
                    <label class="col-md-1 col-form-label">ขนส่ง : </label>
                    <div class="col-md-3">
                        <select class="form-control" id="lov_deliverycost_code" name="lov_deliverycost_code" data-width="100%" placeholder="เลือกเจ้าหน้าที่">
                            <option value="">--select--</option>
                        </select>
                    </div>
                    <label class="col-sm-1 col-form-label">ผู้รับสินค้า : </label>
                    <div class="col-sm-3">
                        <select class="form-control" id="packing_delivery_name" name="packing_delivery_name" data-width="100%" placeholder="เลือกลูกค้า">
                            <option value="">--select--</option>
                        </select>
                    </div>

                </div>

                <div class="form-group mb-0 mt-3 justify-content-end" align="right">
                    <div align="right">
                        <button type="submit" class="btn btn-primary">ค้นหา</button>
                        <button type="reset" class="btn btn-secondary" onClick="window.location.reload();">ยกเลิก</button>
                    </div>
                </div>

                <div class="clearfix"></div>
                <hr />
                <div class="tablekk-responsive">
                    <table id="tbl-packing" class="table table-bordered table-striped table-hover mg-b-0 text-md-nowrap" style="overflow-x:visible"></table>
                </div>

            </form>
        </div>

    </div>
</div>
