<div class="col-12 col-sm-12">
    <div class="card">
        <div class="card-header pb-0 border-bottom">
            <h3 class="text-dark text-center">Quarter information : ข้อมูลรอบประเมิน</h3>
            <br />
        </div>
    
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped mg-b-0 text-md-nowrap">
                    <thead>
                        <tr>
                            <th>โปรแกรม</th>
                            <th>รหัสรายงาน</th>
                            <th>ชื่อรายงาน</th>
                            <th>เวอร์ชั่น</th>
                            <th>สถานะ</th>
                            <th>จัดการ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>HR</td>
                            <td>HR-TIME-RPT</td>
                            <td>รายงานคะแนนขาดลามาสาย</td>
                            <td>v1.1_20200810</td>
                            <td><span class="badge badge-success">Enable</span></td>
                            <td><a href="http://192.168.1.247/vsk-hr/report/Pages/RPT_HR/RPT_LEAVE_PMS" target="_blank" title="View" data-action="read" class="btn btn-outline-hover-success btn-sm btn-icon btn-read-item"><i class="la la-print"></i></a></td>
                        </tr>

                        <tr>
                            <td>HR</td>
                            <td>HR-TIME-RPT</td>
                            <td>รายงานตรวจสอบการประเมิน</td>
                            <td>v1.1_20200810</td>
                            <td><span class="badge badge-success">Enable</span></td>
                            <td><a href="http://192.168.1.247/vsk-hr/report/Pages/RPT_HR/RPT_CK_PMS" target="_blank" title="View" data-action="read" class="btn btn-outline-hover-success btn-sm btn-icon btn-read-item"><i class="la la-print"></i></a></td>
                        </tr>

                        <tr>
                            <td>HR</td>
                            <td>HR-TIME-RPT</td>
                            <td>รายงานตรวจสอบแบบประเมินตนเอง</td>
                            <td>v1.1_20200810</td>
                            <td><span class="badge badge-success">Enable</span></td>
                            <td><a href="http://192.168.1.247/vsk-hr/report/Pages/RPT_HR/RPT_PERSON_PMS" target="_blank" title="View" data-action="read" class="btn btn-outline-hover-success btn-sm btn-icon btn-read-item"><i class="la la-print"></i></a></td>
                        </tr>
                        <tr>
                            <td>HR</td>
                            <td>HR-TIME-RPT</td>
                            <td>รายงานแบบสอบถามเพิ่มเติม</td>
                            <td>v1.1_20200810</td>
                            <td><span class="badge badge-success">Enable</span></td>
                            <td><a href="http://192.168.1.247/vsk-hr/report/Pages/RPT_HR/RPT_OTHER_PMS" target="_blank" title="View" data-action="read" class="btn btn-outline-hover-success btn-sm btn-icon btn-read-item"><i class="la la-print"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- bd -->
        </div><!-- bd -->



    </div>
</div>