<div class="col-12 col-sm-12">
    <div class="card">
        <div class="card-header pb-0">
            <h5 class="card-title mb-0 pb-0">@ViewData["Content-Title-Page"] MRP</h5>
        </div>
        <div class="card-body">
            <form id="frm-search" name="frm-search" autocomplete="off" class="d-none">
                <div class="row">
                    <div class="col-lg-4 col-md-4 form-group mg-b-0">
                        <label class="form-label">เลขที่อ้างอิง</label>
                        <input type="text" class="form-control" id="job_no" name="job_no" value="">
                    </div>
                    <div class="col-lg-4 col-md-4 form-group mg-b-0">
                        <label class="form-label">เลขที่อ้างอิง</label>
                        <div class="input-group date">
                            <input class="form-control date-picker" id="job_date" name="job_date" type="text" value="">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="la la-calendar-check-o"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-0 mt-3 justify-content-end" align="right">
                    <div align="right">
                        <button type="submit" class="btn btn-primary">Search</button>
                        <button type="reset" class="btn btn-secondary">Cancel</button>
                    </div>
                </div>
            </form>
            <div class="table-responsive" style="overflow-x:visible">
                <table id="table-list" class="table table-bordered table-striped table-hover mg-b-0 text-md-nowrap"></table>
            </div>
        </div>
    </div>
</div>
