<div class="col-12 col-sm-12">
    <div class="card">
        <div class="card-header pb-0">
            <h3 class="text-center"><i class="fas fa-search"></i> &nbsp; Search : ค้นหารายการ</h3>
            @*<h5 class="card-header mb-0 pb-0">@ViewData["Content-Title-Page"] ระดับปฎิบัติการ</h5>*@
            <br />
            <br />
        </div>

        <div class="card-body">
            <form class="form-horizontal" id="frm_search" name="frm_search" autocomplete="off">
                <div class="kt-portlet__body">

                    <div class="form-group form-group-sm row">
                        @*<label class="col-md-1 col-form-label">รหัสพนักงาน</label>
                        <div class="col-md-3 ">
                            <select type="text" class="form-control" id="employee_code" name="employee_code">
                                <option value="" selected></option>
                            </select>
                        </div>*@
                        <label class="col-md-1 col-form-label">ชื่อพนักงาน <br> Name</label>
                        <div class="col-md-3 ">
                            <select type="text" class="form-control employee_code" id="employee_code" name="employee_code">
                                <option value="" selected>-เลือกพนักงาน-</option>
                            </select>
                        </div>
                        <label class="col-md-1 col-form-label">รอบประเมิน <br> Quarter</label>
                        <div class="col-md-3 ">
                            <select type="text" class="form-control data_quarter" id="sh_data_quarter" name="sh_data_quarter">
                                <option value="" selected>-เลือกรอบประเมิน-</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group form-group-sm row">
                        <label class="col-md-1 col-form-label">แผนก <br> Section</label>
                        <div class="col-md-3 ">
                            <select type="text" class="form-control employee_sec" id="employee_sec" name="employee_sec">
                                <option value="" selected>-เลือกแผนก-</option>
                            </select>
                        </div>
                        <label class="col-md-1 col-form-label">ฝ่าย <br> Department</label>
                        <div class="col-md-3 ">
                            <select type="text" class="form-control employee_dept" id="employee_dept" name="employee_dept">
                                <option value="" selected>-เลือกฝ่าย-</option>
                            </select>
                        </div>
                        <label class="col-md-1 col-form-label">ตำแหน่ง <br> Position</label>
                        <div class="col-md-3 ">
                            <select type="text" class="form-control employee_pos" id="employee_pos" name="employee_pos">
                                <option value="" selected>-เลือกตำแหน่ง-</option>
                            </select>
                        </div>
                    </div>

                    <div class="border-top my-3"></div>

                    <div class="form-group mb-0 mt-3 justify-content-end" align="right">
                        <div align="right">
                            <button type="submit" class="btn btn-primary">Search</button>
                            <button type="reset" class="btn btn-secondary reset">Cancel</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
